<br><br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1 class="text-center"> <%= t(".Login") %></h1>
      <hr>
      <div class="container">
      <% if flash[:notice] %>
      <div class="alert alert-danger" role="alert"><%= flash[:notice] %></div>
     <% end %>   
        <%= form_tag login_path do |login|%>
          <br>
          <div> <br>
            <%= label_tag :email, nil %>
            <%= text_field_tag :email, nil, class:'form-control', placeholder:'example@mail.com', type:'email' %>
          </div>
          <br>
          <div><br>
            <%= label_tag :password, nil %>
            <%= text_field_tag :password, nil, class:'form-control', type:'password', placeholder:'Password' %>
          </div>
            <br>
          
          <%= submit_tag nil, class:'btn btn-outline-dark' %>
        <% end %>

      </div>
    </div>
    <div class="col-sm">
      <img src="https://www.login.gov/assets/img/what-is-one-account@2x.png" class="img-fluid" alt="Responsive image">
    </div>
  </div>
</div>