<h1>login</h1>

<%= form_tag login_path do |login|%>

    <div>
        <%= label_tag :email, nil %>
        <%= text_field_tag :email, nil %>
    </div>

    <div>
        <%= label_tag :password, nil %>
        <%= text_field_tag :password, nil %>
    </div>

    <%= submit_tag nil %>

<% end %>