<br><br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/css/themify-icons.css">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7 col-lg-4 mb-5 mb-lg-0 wow fadeIn">
            <div class="card border-0 shadow">
                  <%= image_tag @book.cover_page, class:'image rounded img-fluid', style:'width: 960px; height: 300px'%>
                <div class="card-body p-1-9 p-xl-5">
                    <div class="mb-4">
                        <h3 class="h4 mb-0"><%= @book.author_first_name %></h3>
                        <span class="text-secondary">Edition: <%= @book.edition %></span>
                    </div>
                    <ul class="list-unstyled mb-4">
                        <li class="mb-3"><a href="#!"><i class="far fa-envelope display-25 me-3 text-secondary"></i><%= @book.author_email %></a></li>
                        <li class="mb-3"><a href="#!"><i class="fas fa-mobile-alt display-25 me-3 text-secondary"></i>+012 (345) 6789</a></li>
                        <li><a href="#!"><i class="fas fa-map-marker-alt display-25 me-3 text-secondary"></i>205 Main Street, USA</a></li>
                    </ul>

                    <ul class="social-icon-style2 ps-0">
                        <li><a href="#!" class="rounded-3"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#!" class="rounded-3"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#!" class="rounded-3"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#!" class="rounded-3"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="ps-lg-1-6 ps-xl-5">
                <div class="mb-5 wow fadeIn">
                    <div class="text-start mb-1-6 wow fadeIn">
                        <h2 class="h1 mb-0 text-primary"><%= @book.title %></h2>
                    </div>
                    <hr>
                    <div class="text-start mb-1-6 wow fadeIn">
                        <h3 class="h1 mb-0 text-danger">Astract</h3>
                    </div>
                    <br>
                    <p> <%= @book.abstract %></p>
                </div>
                <div class="mb-5 wow fadeIn">
                    <div class="text-start mb-1-6 wow fadeIn">
                        <h2 class="mb-0 text-primary">In process...</h2>
                    </div>
                    <div class="row mt-n4">
                        <div class="col-sm-6 col-xl-4 mt-4">
                            <div class="card text-center border-0 rounded-3">
                                <div class="card-body">
                                    <i class="ti-bookmark-alt icon-box medium rounded-3 mb-4"></i>
                                    <h3 class="h5 mb-3">Education</h3>
                                    <p class="mb-0">University of defgtion, fecat complete ME of synage</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-4 mt-4">
                            <div class="card text-center border-0 rounded-3">
                                <div class="card-body">
                                    <i class="ti-pencil-alt icon-box medium rounded-3 mb-4"></i>
                                    <h3 class="h5 mb-3">Career Start</h3>
                                    <p class="mb-0">After complete engineer join HU Signage Ltd as a project manager</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-4 mt-4">
                            <div class="card text-center border-0 rounded-3">
                                <div class="card-body">
                                    <i class="ti-medall-alt icon-box medium rounded-3 mb-4"></i>
                                    <h3 class="h5 mb-3">Experience</h3>
                                    <p class="mb-0">About 20 years of experience and professional in signage</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wow fadeIn">
                    <div class="text-start mb-1-6 wow fadeIn">
                        <h2 class="mb-0 text-primary">In process...</h2>
                    </div>
                    <p class="mb-4">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose.</p>
                    <div class="progress-style1">
                        <div class="progress-text">
                            <div class="row">
                                <div class="col-6 fw-bold">Wind Turbines</div>
                                <div class="col-6 text-end">70%</div>
                            </div>
                        </div>
                        <div class="custom-progress progress rounded-3 mb-4">
                            <div class="animated custom-bar progress-bar slideInLeft" style="width:70%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="10" role="progressbar"></div>
                        </div>
                        <div class="progress-text">
                            <div class="row">
                                <div class="col-6 fw-bold">Solar Panels</div>
                                <div class="col-6 text-end">90%</div>
                            </div>
                        </div>
                        <div class="custom-progress progress rounded-3 mb-4">
                            <div class="animated custom-bar progress-bar bg-secondary slideInLeft" style="width:90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar"></div>
                        </div>
                        <div class="progress-text">
                            <div class="row">
                                <div class="col-6 fw-bold">Hybrid Energy</div>
                                <div class="col-6 text-end">60%</div>
                            </div>
                        </div>
                        <div class="custom-progress progress rounded-3">
                            <div class="animated custom-bar progress-bar bg-dark slideInLeft" style="width:60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar"></div>
                        </div>
                    </div>
                </div>
            </div>
            <br> <br>
            <div class="row d-flex">
                <div class="m-3">
                    <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                        <div class="card-body p-4">
                            <%= form_with model: [ @book, @book.reviews.build ] do |form| %>

                                <div class="row">
                                    <div class="col-md-8">
                                        <%= form.label :comment %><br>
                                        <%= form.text_area :comment, class:'form-control' %>
                                    </div>
                                     <div class="col">
                                        <%= form.label :starts %><br>
                                        <%= form.select :starts, [['⭐', 1], ['⭐⭐', 2], ['⭐⭐⭐', 3], ['⭐⭐⭐⭐', 4], ['⭐⭐⭐⭐⭐', 5]], {}, class:'form-control'%>
                                    </div>
                                </div>
                                <div class='container mt-4 text-center'>
                                    <%= form.submit class:'btn btn-outline-dark'%>
                                </div>
                            <% end %>
                        </div>
                        <div class="card-body p-4">
                            <% @review_comment.each do |comment| %>
                                <% if comment.user_id!=nil %>
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <p><%= comment.comment %></p>
                                        <p><%= comment.starts %>
                                    <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row align-items-center">
                                        <% if name_user(comment.user_id).avatar.attached?%>
                                        <%= image_tag name_user(comment.user_id).avatar, class:'rounded-circle shadow-1-strong me-3',width:25, height:25, alt:"avatar"%>
                                <% end %>
                                    <p class="small mb-0 ms-2"><b><%=name_user(comment.user_id).name%></b></p>
                                </div>
                                    <div class="d-flex flex-row align-items-center text-primary">
                                        <p class="small mb-0"> <%= comment.created_at.strftime("%Y-%m-%d") %></p>
                                            <i class="fas fa-thumbs-up mx-2 fa-xs" style="margin-top: -0.16rem;"></i>
                                        <p class="small mb-0">2</p>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <% end %>
                        <% end %>
                        <%== pagy_bootstrap_nav(@pagy) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>